In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [5]:
dataframe = pd.read_csv("PracticeData/AmesHousing.csv")
dataframe

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [6]:
dataframe2 = dataframe[['Kitchen Qual', 'Bldg Type']]
dataframe2

     Kitchen Qual Bldg Type
0              TA      1Fam
1              TA      1Fam
2              Gd      1Fam
3              Ex      1Fam
4              TA      1Fam
...           ...       ...
2925           TA      1Fam
2926           TA      1Fam
2927           TA      1Fam
2928           TA      1Fam
2929           TA      1Fam

[2930 rows x 2 columns]

In [10]:
label_encoder = LabelEncoder()
dataframe2['Bldg Type Encoded'] = label_encoder.fit_transform(dataframe['Bldg Type'])
dataframe2

<ipython-input-10-d914b8b44f7e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe2['Bldg Type Encoded'] = label_encoder.fit_transform(dataframe['Bldg Type'])

   Kitchen Qual Bldg Type  Bldg Type Encoded
0            TA      1Fam                  0
1            TA      1Fam                  0
2            Gd      1Fam                  0
3            Ex      1Fam                  0
4            TA      1Fam                  0
..          ...       ...                ...
95           Gd    TwnhsE                  4
96           Gd    TwnhsE                  4
97           Gd     Twnhs                  3
98           Gd     Twnhs                  3
99           Gd      1Fam                  0

[100 rows x 3 columns]

In [11]:
dataframe['Bldg Type'].value_counts()

1Fam      2425
TwnhsE     233
Duplex     109
Twnhs      101
2fmCon      62
Name: Bldg Type, dtype: int64

In [12]:
dataframe['Kitchen Qual'].value_counts()

TA    1494
Gd    1160
Ex     205
Fa      70
Po       1
Name: Kitchen Qual, dtype: int64

In [13]:
order = {
    "Ex":4,
    "Gd":3,
    "TA":2,
    "Fa":1,
    "Po":0
}
dataframe2['Kitchen Qual Encoded'] = dataframe2['Kitchen Qual'].map(order)
dataframe2

<ipython-input-13-602daa0d9b97>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe2['Kitchen Qual Encoded'] = dataframe2['Kitchen Qual'].map(order)

     Kitchen Qual Bldg Type  Bldg Type Encoded  Kitchen Qual Encoded
0              TA      1Fam                  0                     2
1              TA      1Fam                  0                     2
2              Gd      1Fam                  0                     3
3              Ex      1Fam                  0                     4
4              TA      1Fam                  0                     2
...           ...       ...                ...                   ...
2925           TA      1Fam                  0                     2
2926           TA      1Fam                  0                     2
2927           TA      1Fam                  0                     2
2928           TA      1Fam                  0                     2
2929           TA      1Fam                  0                     2

[2930 rows x 4 columns]